<div class= "navbar-lewagon">

<h1>Liste de films</h1>

  <% @lists.each do |list| %>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text"><%= link_to list.name, list_path(list) %></p>
      </div>
    </div>
  <% end %>
</div>


<%= link_to("create new lists", new_list_path) %>
