<div class= "navbar-lewagon">

<h1>Movie Lists</h1>

  <% @lists.each do |list| %>
    <div class="card" style="width: 18rem;">
      <%= image_tag "movi.jpg", alt:"photo", width:200 %>
      <div class="card-body">
        <p class="card-text"><%= link_to list.name, list_path(list) %></p>
      </div>
    </div>
  <% end %>
</div>


<div class="btn btn-info"><%= link_to("Create a new list", new_list_path) %></div>
